### importing pandas library to read and write csv file

In [1]:
import pandas as pd

In [2]:
data = {'name':['swati','aesha','vrutik','rutvik'],
       'age':[20,15,21,19],
       'Gender':['F','F','M','M']}

In [3]:
data

{'name': ['swati', 'aesha', 'vrutik', 'rutvik'],
 'age': [20, 15, 21, 19],
 'Gender': ['F', 'F', 'M', 'M']}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

     name  age Gender
0   swati   20      F
1   aesha   15      F
2  vrutik   21      M
3  rutvik   19      M

### Writing to csv file

In [8]:
df.to_csv('datafile.csv')

### Reading the csv file

In [9]:
df1 = pd.read_csv('datafile.csv')

In [10]:
df1

   Unnamed: 0    name  age Gender
0           0   swati   20      F
1           1   aesha   15      F
2           2  vrutik   21      M
3           3  rutvik   19      M